body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #A8D5E2;
}

header {
  background-color: #F9A620;
  color: white;
  height: 255px;
  display: flex;
  
  
  
}

.secondary_nav{
  background-color: #78B84D;
  color: white;
  height: 100px;
  
  
  
}
.secondary_nav_ul{
  display: flex;              /* Use Flexbox for layout */
  justify-content: space-between; /* Distribute space between items */
  padding: 0;                /* Remove default padding */
  margin: 0;                 /* Remove default margin */
  list-style-type: none;     /* Remove bullet points */
  height: auto;
}

.secondary_nav_ul a {
  flex: 1;                   /* Each item takes equal space */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */      /* Center text within each item */
  cursor: pointer;
  height: 100px;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: none;
  
}

.secondary_nav_ul a:hover {
  background-color: #92c96e; /* Slightly brighter color on hover */
}

.current_sec_nav{
  background-color: #98d66f;
  font-weight: bold;
}

.current_sec_nav:hover {
  background-color: #a4d484; /* Slightly brighter color on hover */
}

.exercises_nav{
 
  
  

  margin-top: 0;
  width: 350px;               /* Set the width of the nav */
  background-color: #FFD449;
    color: white;               /* Text color */
    padding: 20px;              /* Padding around the nav */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); /* Optional shadow for depth */
}


.exercises_nav .search_div input{
  width: 75%;                /* Full width for the search bar */
  padding: 10px;             /* Padding inside the search bar */
  margin-bottom: 20px;       /* Space below the search bar */
  border: none;              /* Remove border */
  border-radius: 5px;
  
}
.exercises_nav_ul{
  
  list-style-type: none;      /* Remove bullet points */
    padding: 0;                 /* Remove default padding */
    margin: 0;  
    text-align: center;
  
}
.exercises_nav_ul li{
  text-align: center;         /* Remove default padding */
  margin-top:20px;
  padding: 10px;
  border: solid gray 1px;
  border-radius: 10px;
  background-color: #cab46d;
  
}
.exercises_nav_ul a{
 text-decoration: none;
 color: white;
  
}


.inner_header_container {
  text-align: center;
  width: 100%; 
}

.inner_header {
  
  display: inline-block; /* Allows the div to shrink to fit content */
  margin-left: auto; /* Automatically adjusts left margin */
  margin-right: auto; /* Automatically adjusts right margin */
  max-width: 80%; /* Sets a maximum width for responsiveness */
  padding-right: 255px;
  
}

.header_logo {

  height: 255px;
  width: 255px;
  
}

.header_text {
  font-size: 400%;
  
}


.main_nav ul {
  list-style-type: none;
  
}

.main_nav ul li {
  display: inline;
  cursor: pointer;
  
}

.main_nav ul li a {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  font-weight: bold;
}

.current_nav{
  text-decoration: underline;
}

section {
  padding: 25px;
  margin: 25px auto;
  background-color: white;
  border-radius: 9px;
  max-width: 800px;
  min-width: 100px;
}

.thankyou_section{
  text-align: center;
  justify-items: center;
}

.centered_section{
  text-align: center;
  justify-items: center;
}

.service {
  margin-bottom: 15px;
}


form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
}

form input, form textarea {
  padding: 10px;
  margin-top: 5px;
}

form button {
  margin-top: 10px;
  padding: 10px;
  background-color: #78B84D;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

form button:hover {
  background-color: #92c96e;
}

footer {
  text-align: center;
  padding: 10px; /* Padding for footer */
}

@media (max-width: 768px) {
  body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #A8D5E2;
  }
  
  header {
    background-color: #F9A620;
    color: white;
    height: 120px;
    display: flex;
    
    
    
  }
  
  .inner_header_container {
    text-align: center;
    width: 100%; 
  }
  .inner_header {
    
    display: inline-block; /* Allows the div to shrink to fit content */
    margin-left: auto; /* Automatically adjusts left margin */
    margin-right: auto; /* Automatically adjusts right margin */
    max-width: 80%; /* Sets a maximum width for responsiveness */
    padding-right: 255px;
    
  }
  
  .header_logo {
  
    height: 120px;
    width: 120px;
    
  }
  
  .header_text {
    font-size: 200%;
    
  }
  
  
  nav ul {
    list-style-type: none;
    
  }
  
  nav ul li {
    display: inline;
    
  }
  
  nav ul li a {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    font-weight: bold;
  }
  
  section {
    padding: 25px;
    margin: 25px auto;
    background-color: white;
    border-radius: 9px;
    max-width: 600px;
    min-width: 100px;
  }
  
  .thankyou_section{
    text-align: center;
    justify-items: center;
  }
  
  .service {
    margin-bottom: 15px;
  }
  
  blockquote {
    border-left: 4px solid #4CAF50;
    padding-left: 20px;
    font-style: italic;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-top: 10px;
  }
  
  form input, form textarea {
    padding: 10px;
    margin-top: 5px;
  }
  
  form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #45a049;
  }
  
  footer {
    text-align: center;
    padding: 10px; /* Padding for footer */
  }
}
